@import "tailwindcss";

@font-face {
  font-family: "Teko";
  src: url("/fonts/Teko-Regular.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .container {
    margin-inline: auto;
  }

  button,
  a {
    font-family: var(--font-primary);
    font-weight: 600;
    text-transform: uppercase;
  }
}

@layer base {
  body {
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: var(--text-md);
  }
  /* prettier-ignore */
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: var(--font-primary);
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
  }
  h1,
  .h1 {
    font-size: var(--text-h1);
    line-height: 1;
  }
  h2,
  .h2 {
    font-size: var(--text-h2);
    line-height: 1;
  }
  h3,
  .h3 {
    font-size: var(--text-h3);
    line-height: 1;
  }
  h4,
  .h4 {
    font-size: var(--text-h4);
    line-height: 1;
  }
  h5,
  .h5 {
    font-size: var(--text-h5);
    line-height: 1;
  }
  h6,
  .h6 {
    font-size: var(--text-h6);
    line-height: 1;
  }
}

@theme {
  /* #region / Fonts */
  --font-sans: "Helvetica Neue", system-ui, sans-serif;
  --font-primary: "Helvetica Neue", system-ui, sans-serif;
  /* #endregion / Fonts */

  /* #region / Type Scales */
  --heading-scale: 1.5; /* Uses H2 as base */
  --text-h1: calc(var(--text-h2) * var(--heading-scale));
  --text-h2: clamp(2rem, calc(1.133rem + 2.33vw), 5rem); /* This is the base */
  --text-h3: calc(var(--text-h2) / var(--heading-scale));
  --text-h4: calc(var(--text-h3) / var(--heading-scale));
  --text-h5: calc(var(--text-h4) / var(--heading-scale));
  --text-h6: calc(var(--text-h5) / var(--heading-scale));

  --text-xs: calc(0.75rem + (-0.1168709751 * ((100vw - 22.5rem) / 62.875)));
  --text-sm: calc(0.8125rem + (0.0314609902 * ((100vw - 22.5rem) / 62.875)));
  --text-md: calc(1rem + (0.125 * ((100vw - 22.5rem) / 62.875)));
  --text-lg: calc(1.2rem + (0.299625 * ((100vw - 22.5rem) / 62.875)));
  --text-xl: calc(1.44rem + (0.559000125 * ((100vw - 22.5rem) / 62.875)));
  --text-xxl: calc(1.728rem + (0.9366671666 * ((100vw - 22.5rem) / 62.875)));
  /* #endregion / Type Scales */

  /* #region / Colours */
  /* PRIMARY */
  --color-primary: var(--color-primary-600);
  --color-primary-hover: var(--color-primary-700);
  --color-primary-surface: var(--color-primary-50);
  --color-primary-surface-1: var(--color-primary-100);
  --color-primary-surface-2: var(--color-primary-200);
  --color-primary-50: #fef1f9;
  --color-primary-100: #fde6f4;
  --color-primary-200: #feccea;
  --color-primary-300: #fea3d8;
  --color-primary-400: #fc6abd;
  --color-primary-500: #f62e9a;
  --color-primary-600: #e71b7f;
  --color-primary-700: #c90d64;
  --color-primary-800: #a60e52;
  --color-primary-900: #8a1148;
  --color-primary-950: #550227;

  /* SECONDARY */
  --color-secondary: var(--color-secondary-500);
  --color-secondary-hover: var(--color-secondary-700);
  --color-secondary-surface: var(--color-secondary-50);
  --color-secondary-surface-1: var(--color-secondary-100);
  --color-secondary-surface-2: var(--color-secondary-200);
  --color-secondary-50: #fef1f9;
  --color-secondary-100: #fde6f4;
  --color-secondary-200: #feccea;
  --color-secondary-300: #fea3d8;
  --color-secondary-400: #fc6abd;
  --color-secondary-500: #f62e9a;
  --color-secondary-600: #e71b7f;
  --color-secondary-700: #c90d64;
  --color-secondary-800: #a60e52;
  --color-secondary-900: #8a1148;
  --color-secondary-950: #550227;

  /* ACCENT */
  --color-accent: var(--color-accent-600);
  --color-accent-hover: var(--color-accent-700);
  --color-accent-surface: var(--color-accent-50);
  --color-accent-surface-1: var(--color-accent-100);
  --color-accent-surface-2: var(--color-accent-200);
  --color-accent-50: #fef1f9;
  --color-accent-100: #fde6f4;
  --color-accent-200: #feccea;
  --color-accent-300: #fea3d8;
  --color-accent-400: #fc6abd;
  --color-accent-500: #f62e9a;
  --color-accent-600: #e71b7f;
  --color-accent-700: #c90d64;
  --color-accent-800: #a60e52;
  --color-accent-900: #8a1148;
  --color-accent-950: #550227;

  /* CANVAS (BACKGROUND) */
  --color-canvas: var(--color-canvas-50);
  --color-canvas-50: #ffffff;
  --color-canvas-100: #f4f4f5;
  --color-canvas-200: #e4e4e7;
  --color-canvas-300: #d4d4d8;
  --color-canvas-400: #a1a1aa;
  --color-canvas-500: #71717a;
  --color-canvas-600: #52525b;
  --color-canvas-700: #3f3f46;
  --color-canvas-800: #27272a;
  --color-canvas-900: #18181b;
  --color-canvas-950: #09090b;
  /* #endregion / Colours */

  /* #region / Spacing */
  --spacing-gutter: var(--gutter);
  --gutter: clamp(1rem, calc(0.3333rem + 0.2083vw), 3rem);
  /* #endregion / Spacing */
}
