---
import Main from "../layouts/Main.astro";
---

<Main title="Home" description="Description">
  <section class="bg-canvas-500 px-gutter">
    <div class="container">
      <h1>Home</h1>
    </div>
  </section>
</Main>
