---
import { cva } from "class-variance-authority";
import { twMerge } from "tailwind-merge";

const button = cva("cursor-pointer", {
  variants: {
    variant: {
      primary: "bg-primary",
      secondary: "bg-secondary",
    },
    size: {
      sm: "text-sm py-1 px-2",
      md: "text-base py-2 px-4",
    },
  },
});

/* Defaults */
const {
  href: href,
  variant = "primary",
  size = "md",
  class: className,
} = Astro.props;
---

{
  href ? (
    <a href={href} class={twMerge(button({ variant, size, className }))}>
      <slot />
    </a>
  ) : (
    <button class={twMerge(button({ variant, size, className }))}>
      <slot />
    </button>
  )
}
